#newsbtcEmdypWidget{
padding: 4px;
padding-left: 10px;
text-decoration: none;
color:#e8e;
font-weight: bold;
background-color:#285735;
border-radius: 8px;}

a#emdypnewsreader, a#newsbtcwidgetabout{
font-weight: normal;
color:blue;}

a#emdypnewsreader:visited, a#newsbtcwidgetabout:visited {
text_decoration:underline;
color:#b45;}

#emdypnewsreader{
text-decoration: none;
}

a#newsbtcwidgetabout {
font-size: 0.7em;}
